/**
 * body contains header(contains top nav information), main (contains about me, skills and projects), footer (contains contact information)
*/
body {
    background-color: beige;
}

/**
 * top nav styling, top-nav is a flexbox as a row which contains page title and internal hyperlinks.
**/
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    background-color: bisque;
    top: 0;
    padding: 0% 5%;
}

/* titile */
.title {
    text-align: center;
}

/* top nav links container is a flexbox column which contains internal hyperlinlks */
.top-nav-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
}

/* top nav hyperlink default styling */
a.top-nav-link {
    border-style: solid;
    border-color: black;
    color: black;
    border-radius: 15%;
    padding: 5px;
    margin: 5px;
}

/* top nav hyperlink hover styling */
.top-nav-links a:hover {
    border-style: solid;
    color: white;
    background-color: gray;
    border-color: gray;
    border-radius: 15%;
    padding: 5px;
    margin: 5px;
}

/* top nav hyperlink pressed/clicked styling */
.top-nav-links a:active {
    border-style: solid;
    color: white;
    background-color: black;
    border-color: black;
    border-radius: 15%;
    padding: 5px;
    margin: 5px;
}


/**
 * main contains about me, skills and projects
*/
main {
    margin: 2%;
}

/**
 * about me is a flexbox column which contains a image and content
 */
#about-me {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

/* about me image */
.about-me-img {
    width: 50%;
    max-width: 500px;
    height: auto;
    border-radius: 25%;
    padding-bottom: 2%;
}

/* about me content */
.about-me-content {
    padding-bottom: 2%;
}

/**
 * skills is a flexbox row which contains sections
 */
#skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/**
 * projects is a flexbox row which contains project section's
 */
#projects {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

/* project section is a flexbox row which contains project card and project content */
.project-section {
    max-width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* project card has box shawdows that is black */
.project-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: antiquewhite;
    transition: 0.1s;
    width: 40%;
}

/* project card has box shawdows that are intesivided on hover */
.project-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* project content */
.project-content {
    padding: 2px 16px;
    text-align: center;
}

/* project media query, makes projects a column for medium sized screens */
@media (max-width: 900px) {
    #projects {
        flex-direction: column;
        justify-content: space-between;
    }

    .project-section {
        max-width: 70%;
    }

    .project-card {
        margin: 10px 0px;
        width: 30%;
    }
}

/* project media query, makes projects and its subsections a column for small sized screens */
@media (max-width: 400px) {
    #projects {
        flex-direction: column;
        justify-content: space-between;
    }

    .project-section {
        flex-direction: column;
        justify-content: space-between;
        max-width: 70%;
    }

    .project-card {
        margin: 10px 0px;
        width: 30%;
    }

    h5 {
        font-size: xx-small;
    }
}

/**
 * Footer styling, footer is a flexbox as a row which contains social & traditional contact information.
**/
footer {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: bisque;
    width: 100%;
}

/* social contact is a flexbox row which contains social media icons & links */
.social-contact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: 5%;
    margin-right: 5%;
    flex-grow: 2;
}

/* traditional contact is a flexbox column which contains traditional contact(phone,address,email) icons & links */
.traditional-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: end;
    margin-left: 5%;
    margin-right: 5%;
    flex-grow: 1;
}